MasterISS-Partner-WebSite/Connected Services/PartnerServiceReference/PartnerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.PartnerRequests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.PartnerRequests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
  <xs:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PartnerServicePaymentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q1:BaseRequestOfPaymentRequestSHA256XdPrP3EA">
        <xs:sequence>
          <xs:element minOccurs="0" name="PaymentRequest" nillable="true" type="tns:PaymentRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartnerServicePaymentRequest" nillable="true" type="tns:PartnerServicePaymentRequest" />
  <xs:complexType name="PaymentRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BillIDs" nillable="true" type="q2:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentRequest" nillable="true" type="tns:PaymentRequest" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubUserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="PartnerServiceAuthenticationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q3:BaseRequestOfAuthenticationRequestSHA256XdPrP3EA">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationParameters" nillable="true" type="tns:AuthenticationRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartnerServiceAuthenticationRequest" nillable="true" type="tns:PartnerServiceAuthenticationRequest" />
  <xs:complexType name="AuthenticationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartnerPasswordHash" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticationRequest" nillable="true" type="tns:AuthenticationRequest" />
  <xs:complexType name="PartnerServiceAddSubUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q4:BaseRequestOfAddSubUserRequestSHA256XdPrP3EA">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddSubUserRequestParameters" nillable="true" type="tns:AddSubUserRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartnerServiceAddSubUserRequest" nillable="true" type="tns:PartnerServiceAddSubUserRequest" />
  <xs:complexType name="AddSubUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestedSubUserEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedSubUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestedSubUserPassword" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddSubUserRequest" nillable="true" type="tns:AddSubUserRequest" />
  <xs:complexType name="PartnerServiceSubUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q5:BaseRequestOfSubUserRequestSHA256XdPrP3EA">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubUserRequest" nillable="true" type="tns:SubUserRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartnerServiceSubUserRequest" nillable="true" type="tns:PartnerServiceSubUserRequest" />
  <xs:complexType name="SubUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestedSubUserEmail" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubUserRequest" nillable="true" type="tns:SubUserRequest" />
  <xs:complexType name="PartnerServiceBillListRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q6:BaseRequestOfBillListRequestSHA256XdPrP3EA">
        <xs:sequence>
          <xs:element minOccurs="0" name="BillListRequest" nillable="true" type="tns:BillListRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartnerServiceBillListRequest" nillable="true" type="tns:PartnerServiceBillListRequest" />
  <xs:complexType name="BillListRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubscriberNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BillListRequest" nillable="true" type="tns:BillListRequest" />
</xs:schema>