WebServices/Connected Services/CustomerSetupServiceReference/CustomerSetupService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.184.3.63:9902/CustomerSetupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" />
  <xs:import schemaLocation="http://10.184.3.63:9902/CustomerSetupService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" />
  <xs:element name="GetKeyFragment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyFragmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKeyFragmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q1:GetTaskListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetTaskListResult" nillable="true" type="q2:GetTaskListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q3:TaskNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetTaskDetailsResult" nillable="true" type="q4:GetTaskDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q5:TaskNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetCustomerCredentialsResult" nillable="true" type="q6:GetCustomerCredentialResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLineDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q7:TaskNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLineDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetCustomerLineDetailsResult" nillable="true" type="q8:GetCustomerLineDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSessionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q9:TaskNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSessionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetCustomerSessionInfoResult" nillable="true" type="q10:GetCustomerSessionInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskStatusUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q11:AddTaskStatusUpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskStatusUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="AddTaskStatusUpdateResult" nillable="true" type="q12:ParameterlessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q13:UpdateCustomerLocationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="UpdateClientLocationResult" nillable="true" type="q14:ParameterlessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q15:AddCustomerAttachmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="AddCustomerAttachmentResult" nillable="true" type="q16:AddCustomerAttachmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q17:TaskNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetCustomerContractResult" nillable="true" type="q18:GetCustomerContractResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Requests" minOccurs="0" name="request" nillable="true" type="q19:TaskNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RadiusR_Customer_Setup_Service.Responses" minOccurs="0" name="GetCustomerAttachmentsResult" nillable="true" type="q20:GetCustomerAttachmentsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>