MasterISS-Partner-WebSite-WebServices/Connected Services/PartnerServiceReference/PartnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PartnerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPartnerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.TelekomInfrastructureService" />
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.PartnerRequests" />
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.184.3.63:5998/PartnerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.PartnerResponses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartnerService_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProvinceDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistricts" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProvinceDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetDistrictRuralRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegions" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetDistrictRuralRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetRuralRegionNeighbourhoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoods" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetRuralRegionNeighbourhoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoodsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetNeighbourhoodStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreets" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetNeighbourhoodStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreetsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetStreetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildings" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetStreetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetBuildingApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartments" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetBuildingApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetApartmentAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddress" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetApartmentAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_ServiceAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailability" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_ServiceAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetKeyFragment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragment" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetKeyFragment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_PayBills_InputMessage">
    <wsdl:part name="parameters" element="tns:PayBills" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_PayBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayBillsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_AddSubUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubUser" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_AddSubUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_DisableSubUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableSubUser" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_DisableSubUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableSubUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_EnableSubUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableSubUser" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_EnableSubUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableSubUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_BillsBySubscriberNo_InputMessage">
    <wsdl:part name="parameters" element="tns:BillsBySubscriberNo" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_BillsBySubscriberNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillsBySubscriberNoResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetCultures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCultures" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetCultures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCulturesResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetTCKTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTCKTypes" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetTCKTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTCKTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetCustomerTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTypes" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetCustomerTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetSexes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSexes" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetSexes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSexesResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetNationalities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalities" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetNationalities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProfessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessions" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetProfessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerTariffs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerTariffs" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerTariffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerTariffsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPaymentDays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDays" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPaymentDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDaysResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetCreditReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditReport" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetCreditReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditReportResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SendConfirmationSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmationSMS" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SendConfirmationSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmationSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_NewCustomerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerRegister" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_NewCustomerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewCustomerRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_IDCardValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:IDCardValidation" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_IDCardValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:IDCardValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetBasicAllowanceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicAllowanceDetails" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetBasicAllowanceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicAllowanceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SetupGenericAllowanceList_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupGenericAllowanceList" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SetupGenericAllowanceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupGenericAllowanceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SetupAllowanceList_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupAllowanceList" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SetupAllowanceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupAllowanceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SetupAllowanceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupAllowanceDetails" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SetupAllowanceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupAllowanceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaleAllowanceList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleAllowanceList" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaleAllowanceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleAllowanceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaleAllowanceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleAllowanceDetails" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaleAllowanceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleAllowanceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaleGenericAllowanceList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleGenericAllowanceList" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaleGenericAllowanceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleGenericAllowanceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerSubscriptions" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerClientAttachments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerClientAttachments" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerClientAttachments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerClientAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerClientForms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerClientForms" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_GetPartnerClientForms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerClientFormsResponse" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaveClientAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientAttachment" />
  </wsdl:message>
  <wsdl:message name="IPartnerService_SaveClientAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IPartnerService">
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvinces" message="tns:IPartnerService_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvincesResponse" message="tns:IPartnerService_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvinceDistricts" message="tns:IPartnerService_GetProvinceDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvinceDistrictsResponse" message="tns:IPartnerService_GetProvinceDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetDistrictRuralRegions" message="tns:IPartnerService_GetDistrictRuralRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetDistrictRuralRegionsResponse" message="tns:IPartnerService_GetDistrictRuralRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetRuralRegionNeighbourhoods" message="tns:IPartnerService_GetRuralRegionNeighbourhoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetRuralRegionNeighbourhoodsResponse" message="tns:IPartnerService_GetRuralRegionNeighbourhoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetNeighbourhoodStreets" message="tns:IPartnerService_GetNeighbourhoodStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetNeighbourhoodStreetsResponse" message="tns:IPartnerService_GetNeighbourhoodStreets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetStreetBuildings" message="tns:IPartnerService_GetStreetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetStreetBuildingsResponse" message="tns:IPartnerService_GetStreetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetBuildingApartments" message="tns:IPartnerService_GetBuildingApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetBuildingApartmentsResponse" message="tns:IPartnerService_GetBuildingApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetApartmentAddress" message="tns:IPartnerService_GetApartmentAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetApartmentAddressResponse" message="tns:IPartnerService_GetApartmentAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/ServiceAvailability" message="tns:IPartnerService_ServiceAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/ServiceAvailabilityResponse" message="tns:IPartnerService_ServiceAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyFragment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetKeyFragment" message="tns:IPartnerService_GetKeyFragment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetKeyFragmentResponse" message="tns:IPartnerService_GetKeyFragment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/PayBills" message="tns:IPartnerService_PayBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/PayBillsResponse" message="tns:IPartnerService_PayBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/Authenticate" message="tns:IPartnerService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/AuthenticateResponse" message="tns:IPartnerService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/AddSubUser" message="tns:IPartnerService_AddSubUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/AddSubUserResponse" message="tns:IPartnerService_AddSubUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableSubUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/DisableSubUser" message="tns:IPartnerService_DisableSubUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/DisableSubUserResponse" message="tns:IPartnerService_DisableSubUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableSubUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/EnableSubUser" message="tns:IPartnerService_EnableSubUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/EnableSubUserResponse" message="tns:IPartnerService_EnableSubUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillsBySubscriberNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/BillsBySubscriberNo" message="tns:IPartnerService_BillsBySubscriberNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/BillsBySubscriberNoResponse" message="tns:IPartnerService_BillsBySubscriberNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCultures">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetCultures" message="tns:IPartnerService_GetCultures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetCulturesResponse" message="tns:IPartnerService_GetCultures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTCKTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetTCKTypes" message="tns:IPartnerService_GetTCKTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetTCKTypesResponse" message="tns:IPartnerService_GetTCKTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetCustomerTypes" message="tns:IPartnerService_GetCustomerTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetCustomerTypesResponse" message="tns:IPartnerService_GetCustomerTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSexes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetSexes" message="tns:IPartnerService_GetSexes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetSexesResponse" message="tns:IPartnerService_GetSexes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetNationalities" message="tns:IPartnerService_GetNationalities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetNationalitiesResponse" message="tns:IPartnerService_GetNationalities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfessions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetProfessions" message="tns:IPartnerService_GetProfessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetProfessionsResponse" message="tns:IPartnerService_GetProfessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerTariffs">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerTariffs" message="tns:IPartnerService_GetPartnerTariffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerTariffsResponse" message="tns:IPartnerService_GetPartnerTariffs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDays">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetPaymentDays" message="tns:IPartnerService_GetPaymentDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetPaymentDaysResponse" message="tns:IPartnerService_GetPaymentDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetCreditReport" message="tns:IPartnerService_GetCreditReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetCreditReportResponse" message="tns:IPartnerService_GetCreditReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SendConfirmationSMS" message="tns:IPartnerService_SendConfirmationSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SendConfirmationSMSResponse" message="tns:IPartnerService_SendConfirmationSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewCustomerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/NewCustomerRegister" message="tns:IPartnerService_NewCustomerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/NewCustomerRegisterResponse" message="tns:IPartnerService_NewCustomerRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IDCardValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/IDCardValidation" message="tns:IPartnerService_IDCardValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/IDCardValidationResponse" message="tns:IPartnerService_IDCardValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicAllowanceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetBasicAllowanceDetails" message="tns:IPartnerService_GetBasicAllowanceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetBasicAllowanceDetailsResponse" message="tns:IPartnerService_GetBasicAllowanceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetupGenericAllowanceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SetupGenericAllowanceList" message="tns:IPartnerService_SetupGenericAllowanceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SetupGenericAllowanceListResponse" message="tns:IPartnerService_SetupGenericAllowanceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetupAllowanceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SetupAllowanceList" message="tns:IPartnerService_SetupAllowanceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SetupAllowanceListResponse" message="tns:IPartnerService_SetupAllowanceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetupAllowanceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SetupAllowanceDetails" message="tns:IPartnerService_SetupAllowanceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SetupAllowanceDetailsResponse" message="tns:IPartnerService_SetupAllowanceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleAllowanceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SaleAllowanceList" message="tns:IPartnerService_SaleAllowanceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SaleAllowanceListResponse" message="tns:IPartnerService_SaleAllowanceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleAllowanceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SaleAllowanceDetails" message="tns:IPartnerService_SaleAllowanceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SaleAllowanceDetailsResponse" message="tns:IPartnerService_SaleAllowanceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleGenericAllowanceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SaleGenericAllowanceList" message="tns:IPartnerService_SaleGenericAllowanceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SaleGenericAllowanceListResponse" message="tns:IPartnerService_SaleGenericAllowanceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerSubscriptions" message="tns:IPartnerService_GetPartnerSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerSubscriptionsResponse" message="tns:IPartnerService_GetPartnerSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerClientAttachments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerClientAttachments" message="tns:IPartnerService_GetPartnerClientAttachments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerClientAttachmentsResponse" message="tns:IPartnerService_GetPartnerClientAttachments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerClientForms">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerClientForms" message="tns:IPartnerService_GetPartnerClientForms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/GetPartnerClientFormsResponse" message="tns:IPartnerService_GetPartnerClientForms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClientAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartnerService/SaveClientAttachment" message="tns:IPartnerService_SaveClientAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartnerService/SaveClientAttachmentResponse" message="tns:IPartnerService_SaveClientAttachment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPartnerService" type="tns:IPartnerService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPartnerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetProvinceDistricts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetDistrictRuralRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetRuralRegionNeighbourhoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetNeighbourhoodStreets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetStreetBuildings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetBuildingApartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetApartmentAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/ServiceAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyFragment">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetKeyFragment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/PayBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubUser">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/AddSubUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableSubUser">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/DisableSubUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableSubUser">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/EnableSubUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillsBySubscriberNo">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/BillsBySubscriberNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCultures">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetCultures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTCKTypes">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetTCKTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTypes">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetCustomerTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSexes">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetSexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetNationalities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfessions">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetProfessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerTariffs">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetPartnerTariffs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDays">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetPaymentDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditReport">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetCreditReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationSMS">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SendConfirmationSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCustomerRegister">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/NewCustomerRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDCardValidation">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/IDCardValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicAllowanceDetails">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetBasicAllowanceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupGenericAllowanceList">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SetupGenericAllowanceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupAllowanceList">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SetupAllowanceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupAllowanceDetails">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SetupAllowanceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAllowanceList">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SaleAllowanceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAllowanceDetails">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SaleAllowanceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleGenericAllowanceList">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SaleGenericAllowanceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerSubscriptions">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetPartnerSubscriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerClientAttachments">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetPartnerClientAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerClientForms">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/GetPartnerClientForms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientAttachment">
      <soap12:operation soapAction="http://tempuri.org/IPartnerService/SaveClientAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartnerService">
    <wsdl:port name="WSHttpBinding_IPartnerService" binding="tns:WSHttpBinding_IPartnerService">
      <soap12:address location="http://10.184.3.63:5998/PartnerService.svc/PartnerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.184.3.63:5998/PartnerService.svc/PartnerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>